services:
  still-alive-app:
    build: .
    container_name: still_alive_container
    restart: always
    volumes:
      - .:/app
    ports:
      - "8501:8501"

networks:
  default:
    name: nginx_network
    external: true